<!DOCTYPE html>
<html class="uk-height-1-1 uk-notouch">
  <head>
    <title>Rideshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
      <%= yield %>
    </div>
  </body>
</html>
